<a href="#register" class="button button-open" id="regbtn">Register</a>
                <div class="dropdown dd-right" id="register">
                  <div class="dropdowncontent">
                    <p>Registration allows you to retrieve your saved files.</p>
                    <form class="login">
                      <p class="loginFeedback"></p>
                      <div>
                        <label>Username<br><input required name="username" type="text"></label>
                      </div>
                      <div>
                        <label>Email<br>
                        <input name="email" required type="email"></label>
                      </div>
                      <div>
                        <label>Password<br>
                        <input required name="password" type="password"></label>
                      </div>
                      <div>
                        <input type=submit value="Register">
                      </div>
                      <div>
                        <span class="login-splitter">or</span>
                        <a class="btn-github" href="/auth/github"><img src="{{static}}/images/github-32.png"> Register with Github</a>
                      </div>
                    </form>
                  </div>
                </div>