<!DOCTYPE html>
<html id="jsbin" lang="en" class="{{#if flash_tip}}showtip{{/if}}{{#if embed}} embed{{/if}}">
<head>
  <meta charset=utf-8>
  <title>JS Bin - Collaborative JavaScript Debugging</title>
  <link rel="icon" href="{{static}}/images/favicon.png">
  <link rel="stylesheet" href="{{static}}/css/style.css?{{version}}">
  {{#if custom_css}}<link rel="stylesheet" href="{{static}}/{{custom_css}}?{{version}}">{{/if}}
  <!--[if lte IE 9 ]><link rel="stylesheet" href="{{static}}/css/ie.css?{{version}}"><![endif]-->
  {{#if is_production}}
  {{{analytics}}}
  {{/if}}
</head>
<!--[if lt IE 7]>  <body class="source ie ie6"> <![endif]-->
<!--[if IE 7]>     <body class="source ie ie7"> <![endif]-->
<!--[if gt IE 7]>  <body class="source ie">     <![endif]-->
  <!--[if !IE]><!--> <body class="source {{#if private}}private{{else}}public{{/if}}">    <!--<![endif]-->
<div id="control">
  <div class="control">
    <div id="menuinfo"><p></p></div>
    <div class="buttons">
      {{#if embed}}
        <span class="menu">
         {{> menu/embed}}
        </span>
      {{else}}
        <div class="menu">
          {{> menu/main}}
        </div><!-- spacer (or not) DO NOT TOUCH ERE BE DRAGONS etc wat?
     --><div class="menu">
          {{> menu/lib }}
        </div>
        <div id="sharemenu" class="menu {{#unless code_id}}hidden{{/unless}}">
          {{>menu/share}}
        </div><!-- intentional space -->
        <div id="start-saving" class="menu">
          <a href="{{code_id_path}}/save" class="save button group">Start saving your work</a>
        </div>
      {{/if}}
      <div id="panels"></div>
      <div class="help">
        {{#unless embed}}
          {{#if home}}
            <div class="menu">
              {{>menu/home}}
            </div>
          {{else}}
            {{#if client.user}}
              <div class="menu">
                {{>menu/login}}
              </div>
              <div class="menu">
                {{>menu/register}}
              </div>
            {{/if}}
          {{/if}}
        {{/unless}}
          <div class="menu">
            {{>menu/help}}
          </div>
      </div>
    </div>
  </div>
</div>
<div id="bin" class="stretch" style="opacity: 0; filter:alpha(opacity=0);">
  <div id="source" class="binview stretch">
  </div>
  <div id="panelswaiting">
    <div class="code stretch html panel">
     {{>panel/html}}
    </div>
    <div class="code stretch javascript panel">
      {{>panel/javascript}}
    </div>
    <div class="code stretch css panel">
      {{>panel/css}}
    </div>
    <div class="stretch console panel">
      {{>panel/console}}
    </div>
    <div id="live" class="stretch live panel">
      {{>panel/output}}
    </div>
  </div>
  <form {{#if embed}}target="_blank"{{/if}} id="saveform" method="post" action="{{code_id_path}}/save">
    <input type="hidden" name="method">
    <input type="hidden" name="_csrf" value="{{token}}">
  </form>
</div>
<div id="tip" class="{{#if flash_tip_type}}{{flash_tip_type}}{{/if}}{{#unless flash_tip_type}} notification{{/unless}}">
  <p>
    {{#if flash_tip}}{{flash_tip}}{{/if}}
    {{#unless flash_tip}}You can jump to the latest bin by adding <code>/latest</code> to your URL{{/unless}}
  </p>
  <a class="dismiss" href="#">Dismiss x</a>
</div>
<div id="keyboardHelp" class="modal">
  {{> help/keyboard }}
</div>
<div id="urlHelp" class="modal">
  {{> help/urls }}
</div>
<script>
  var template = {{{json_template}}};
  var jsbin = {{{jsbin}}}; tips  = {{tips}};
</script>
{{#if is_production}}
<script src="{{static}}/js/prod/jsbin-{{version}}.min.js"></script>
{{else}}
  {{#if concat}}
<script src="{{static}}/js/prod/jsbin-{{version}}.js"></script>
  {{else}}
    {{#scripts}}<script src="{{static}}{{.}}"></script>{{/scripts}}
  {{/if}}
{{/if}}
{{#if live}}
<script src="{{static}}/js/vendor/eventsource.js"></script>
<script src="{{static}}/js/spike.js?{{version}}"></script>
{{/if}}
</body>
</html>

