<div class="label menu"><span class="name"><strong><a class="fake-dropdown button-dropdown" href="#cssprocessors">CSS</a></strong></span>
        <div class="dropdown" id="cssprocessors">
          <div class="dropdownmenu processorSelector" data-type="css">
            <a href="#css">CSS</a>
            <a href="#less">LESS</a>
            <!-- <a href="#stylus">Stylus</a> --><!-- Removed because of a crash bug in stylus https://twitter.com/phuunet/status/377735455670030336 -->
            <a href="#convert">Convert to CSS</a>
          </div>
        </div>
      </div>
      <div class="editbox">
        <textarea spellcheck="false" autocapitalize="none" autocorrect="off" id="css"></textarea>
      </div>